// html {
//   font-size: 100%;
//   box-sizing: border-box;
//   scroll-behavior: smooth;
// }

// *,
// *::before,
// *::after {
//   box-sizing: inherit;
// }

// body {
//   margin: 0 !important;
//   padding: 0;
//   font-family: 'Lato', sans-serif;
//   font-size: 1rem;
//   color: $black;
// }

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

button,
.button {
  cursor: pointer;
}

.container {
  margin: 0 0.5rem;
  max-width: 64rem;

  @include breakpoint-up(large) {
    margin: 0 auto;
  }
}

// Visibility
.hide-for-mobile {
  // hide for tablet and mobile devices
  @include breakpoint-down(medium) {
    display: none !important;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
